nav {
    display: flex;
    background: #474654;
}
nav ul {
    list-style: none;
    padding: 0.3em;
    padding-bottom: 0px;
    margin: 0;

    display: flex;
    justify-content: flex-start;
}

nav li {
    display: inline;
    margin: 0 5px 0 0;
    background-color: #a4a4a4;
    padding: 0.4em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    cursor: pointer;
    font-weight: bold;
}

nav li:hover {
    font-weight: bolder;
    background-color: #b7d6a4;
}

nav li.selected {
    background-color: #b7d6a4;
}

header {
    padding: 1px;
}

#content {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
}

#content h2 {
    text-align: center;
}

div.board {
    border: 3px solid;
    border-radius: 10px;
    border-color: teal;

    /*width: 15em;*/
    padding: 0 .4em .4em;
    margin: 0.5em;
}

div.action {
    border: 3px solid;
    border-radius: 10px;
    border-color: teal;

    width: 15em;
    padding: 0 .4em .4em;
    margin: 0.5em;
}

div.slider {
    display: flex;
    flex-direction: column;

    border: 1px dashed;
    border-radius: 5px;
    border-color: teal;
    padding: .2em;
}

div.slider.editing {
    background-color: lightgrey;
}

div.slider h4 {
    margin: 0px;
}

div.slider label.position {
    text-align: center;
    cursor: pointer;
}

div.slider-edit {
    display: flex;
    flex-direction: column;

    background-color: white;

    border: 1px dashed;
    border-radius: 5px;
    border-color: teal;
    padding: .2em;
}

div.slider-edit p {
    margin: 0;
}

div.slider-edit-servo {
    display: flex;
    flex-direction: row;
}

div.slider-edit-servo input[type="range"] {
    flex-grow: 1;
}

div.action div.clickers {
    display: flex;
    flex-wrap: wrap;
}

div.action div.clickers >button {
    flex-grow: 1;
    margin: 0.1em;
}

div.device > div {
    border: 3px solid;
    border-radius: 10px;
    border-color: teal;

    width: 15em;
    padding: 0 .4em .4em;
    margin: 0.5em;
}

div.move {
    background-color: lightgreen;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 3vmin;
}

#move-canvas {
    flex: 1 1 70%;
    background-image: url("map.png");
    background-size: cover;
    width: 70%;
}

#move-controls {
    background-color: lightgrey;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
}
#move-controls button.green {
    background-color: green;
    color: white;
}
#move-controls button.orange{
    background-color: orange;
    color: white;
}
#move-controls span {
    text-align: center;
    margin-top: 3px;
}
#move-controls span.small {
    font-size: 2vmin;
    margin: 0px;
}

div.board input.small {
    width: 4em;
}
